/* All Icons */
.icon {
    background: url(@spriteIcons) top left no-repeat;
    display: block;
}

/* Icon Sizes --------------------------------------------------------------- */
.icon.meta {
    width: 16px;
    height: 12px;
    margin: -0.75em 0 -50px 0.15em;
    float: left;
    z-index: 10;
    opacity: 0.8;
    &.unlock { width: 12px;}
}
.icon.class {
    width: 48px;
    height: 48px;
}
.icon.weapon {
    z-index: 1;
    opacity: 0.8;
    margin: 0 auto;
    height: 48px;
    &.primary {
        width: 250px;
    }
    &.secondary, &.grenade, &.gadget, &.melee {
        width: 78px;
    }
}

/* Sane Default ------------------------------------------------------------- */
.icon.default {
    width: 1px;
    background-position: 0 0;
}
.icon.default.sm { height: 1px;}
.icon.default.lg { height: 48px; }

/* Locks/Flags -------------------------------------------------------------- */
.meta.base { width: 0; height: 0;}
.meta.unlock { opacity: 0.5; background-position: 0 0; }
.meta.tsnp { background-position: -12px 0; }
.meta.tsar { background-position: -28px 0; }
.meta.tide { background-position: -44px 0; }
.meta.apoc { background-position: -60px 0; }
.meta.bfv  { background-position: -76px 0; }

/* Classes ------------------------------------------------------------------ */
.assault { background-position: 0px -12px; }
.medic { background-position: -48px -12px;}
.scout { background-position: -96px -12px;}
.support { background-position: -144px -12px;}
.random { background-position: -192px -12px;}

/* Primary Weapons ---------------------------------------------------------- */
.p-0818lmg { background-position: 0 -400px;}
.p-ross { background-position: -250px -400px;}
.p-enfield { background-position: -500px -400px;}
.p-fedodeg { background-position: -750px -400px;}
.p-m1919 { background-position: -1000px -400px;}
.p-10a { background-position: 0px -448px; }
.p-m97 { background-position: -250px -448px; }
.p-mp18 { background-position: -500px -448px; }
.p-automatico { background-position: -750px -448px; }
.p-12g { background-position: -1000px -448px; }
.p-hellriegel { background-position: 0 -496px; }
.p-sjogren { background-position: -250px -496px; }
.p-ribeyrolles { background-position: -500px -496px; }
.p-cei { background-position: -750px -496px; }
.p-m1916 { background-position: -1000px -496px; }
.p-m1907 { background-position: 0px -544px; }
.p-mondragon { background-position: -250px -544px; }
.p-autoloading { background-position: -500px -544px; }
.p-1906 { background-position: -750px -544px; }
.p-rsc1917 { background-position: -1000px -544px; }
.p-lewis { background-position: 0px -592px; }
.p-benet { background-position: -250px -592px; }
.p-madsen { background-position: -500px -592px; }
.p-mg15 { background-position: -750px -592px; }
.p-bar { background-position: -1000px -592px; }
.p-huot { background-position: 0 -640px; }
.p-chauchat { background-position: -250px -640px; }
.p-1895 { background-position: -500px -640px; }
.p-gewehr98 { background-position: -750px -640px; }
.p-smle { background-position: -1000px -640px; }
.p-gewehr95 { background-position: 0px -688px; }
.p-m1903 { background-position: -250px -688px; }
.p-martini { background-position: -500px -688px; }
.p-lebel { background-position: -750px -688px; }
.p-1900 { background-position: -1000px -688px; }
.p-0818 { background-position: 0 -736px; }
.p-fedorov { background-position: -250px -736px; }
.p-lui { background-position: -500px -736px; }
.p-para { background-position: -750px -736px; }
.p-perino { background-position: -1000px -736px; }
.p-m91 { background-position: 0 -784px; }
.p-vetterli { background-position: -250px -784px; }
.p-m1917 { background-position: -500px -784px; }
.p-m1912 { background-position: -750px -784px; }
.p-farquhar { background-position: -1000px -784px; }
.p-m1917mg { background-position: 0 -832px; }
.p-arisaka { background-position: -250px -832px; }
.p-carcano { background-position: -500px -832px; }
.p-rscsmg { background-position: -750px -832px; }
.p-howell { background-position: -1000px -832px; }
.p-burton { background-position: 0 -880px;}
.p-sawed { background-position: -250px -880px;}
.p-p08a { background-position: -500px -880px; }
.p-pieper { background-position: -750px -880px; }
.p-m1911e { background-position: -1000px -880px; }
.p-mle1903 { background-position: 0 -928px; }
.p-c93c { background-position: -250px -928px; }
.p-c96c { background-position: -500px -928px; }
.p-frommer { background-position: -750px -928px; }

/* Secondary Weapons -------------------------------------------------------- */
.s-m1911 { background-position: 0px -109px; }
.s-p08 { background-position: -78px -109px; }
.s-mle1903 { background-position: -156px -109px; }
.s-no3revolver { background-position: -234px -109px; }
.s-c93 { background-position: -312px -109px; }
.s-kolibri { background-position: -390px -109px; }
.s-gasser { background-position: -468px -109px; }
.s-1903 { background-position: -546px -109px; }
.s-howdah { background-position: -624px -109px; }
.s-auto { background-position: -702px -109px; }
.s-m1914 { background-position: -780px -109px; }
.s-c96 { background-position: -858px -109px; }
.s-bulldog { background-position: -936px -109px; }
.s-modello { background-position: -1014px -109px; }
.s-m1912 { background-position: -1092px -109px; }
.s-bodeo { background-position: -1170px -109px; }
.s-frommer { background-position: 0px -157px; }
.s-mars { background-position: -78px -157px; }
.s-nagant { background-position: -156px -157px; }
.s-obrez { background-position: -234px -157px; }
.s-mkvi { background-position: -312px -157px; }

/* Grenades ----------------------------------------------------------------- */
.g-frag { background-position: 0 -60px;}
.g-gas { background-position: -78px -60px;}
.g-impact { background-position: -156px -60px;}
.g-inc { background-position: -234px -60px; }
.g-mini { background-position: -312px -60px; }
.g-smoke { background-position: -390px -60px; }
.g-at { background-position: -468px -60px; }

/* Gadgets ------------------------------------------------------------------ */
.ga-dynamite { background-position: 0 -206px; }
.ga-atgrenade { background-position: -78px -206px; }
.ga-mine { background-position: -156px -206px; }
.ga-rocket { background-position: -234px -206px; }
.ga-syringe { background-position: -312px -206px; }
.ga-medcrate { background-position: -390px -206px; }
.ga-medpouch { background-position: -468px -206px; }
.ga-riflefg { background-position: -546px -206px; }
.ga-riflesmk { background-position: -624px -206px; }
.ga-riflehe { background-position: -702px -206px; }
.ga-ammocrate { background-position: -780px -206px; }
.ga-ammopouch { background-position: -858px -206px; }
.ga-mortarair { background-position: -936px -206px; }
.ga-mortarhe { background-position: -1014px -206px; }
.ga-repair { background-position: -1092px -206px; }
.ga-limpet { background-position: -1170px -206px; }
.ga-crossbow { background-position: 0 -254px; }
.ga-flarespot { background-position: -78px -254px; }
.ga-flareflash { background-position: -156px -254px; }
.ga-kbullet { background-position: -234px -254px; }
.ga-periscope { background-position: -312px -254px; }
.ga-shield { background-position: -390px -254px; }
.ga-decoy { background-position: -468px -254px; }
.ga-triphe { background-position: -546px -254px; }
.ga-tripgas { background-position: -624px -254px; }
.ga-tripinc { background-position: -702px -254px; }
.ga-rocket2 { background-position: -780px -254px; }

/* Melee -------------------------------------------------------------------- */
/*
.m-combat { background-position: 0 -302px; }
.m-compact { background-position: -78px -302px; }
.m-bedouin { background-position: -156px -302px; }
.m-trench { background-position: -234px -302px; }
.m-ustrench { background-position: -312px -302px; }
.m-club { background-position: -390px -302px; }
.m-spiked { background-position: -468px -302px; }
.m-trenchmace { background-position: -546px -302px; }
.m-bartek { background-position: -624px -302px; }
.m-hatchet { background-position: -702px -302px; }
.m-pickaxe { background-position: -780px -302px; }
.m-shovel { background-position: -858px -302px; }
.m-sawtooth { background-position: -936px -302px; }
.m-nail { background-position: -1014px -302px; }
.m-cogwheel { background-position: -1092px -302px; }
.m-fleur { background-position: -1170px -302px; }
.m-billhook { background-position: 0 -351px; }
.m-kukri { background-position: -78px -351px; }
.m-sabre { background-position: -156px -351px; }
.m-cossack { background-position: -234px -351px; }
.m-dud { background-position: -312px -351px; }
.m-arditi { background-position: -390px -351px; }
.m-ottoman { background-position: -468px -351px; }
.m-naval { background-position: -546x -351px; }
.m-grappling { background-position: -624px -351px; }
.m-russian { background-position: -702px -351px; }
.m-meat { background-position: -780px -351px; }
.m-prybar { background-position: -858px -351px; }
*/