/* Fonts */
@fntColor:              rgb(255, 255, 255);
@fntFamily:             'Roboto',sans-serif;;
@fntSize:               14px;

/* Background Settings */
@bgColor:               rgb( 25,   6,   5);
@bgImageMobile:         "/assets/images/bg.jpg";
@bgImageDesktop:        "/assets/images/bg2.jpg";

/* Header */
@headerColor1:          rgb(255, 255, 255);
@headerColor2:          rgb(177, 172, 168);

/* Footer */
@footerDisclaimer:      rgb(177, 172, 168);

/* Item Boxes */
@boxBack:               rgba(102, 102, 102, 0.5);
@boxBorder:             rgba(  0,   0,   0, 0.4);
@boxFore:               rgb(255, 255, 255);

/* Buttons */
@btnBack:               rgb(255, 255, 255);
@btnFore:               rgb(  0,   0,   0);

/* Sprites */
@spriteIcons:           "/assets/images/sprite_test.png";
