#Configurations
Options -Indexes
RewriteEngine On

#Error Documents
ErrorDocument 403 https://orcicorn.com/bf1
ErrorDocument 404 https://orcicorn.com/bf1

#Protected Directories
RewriteRule ^(application/) - [F,L,NC]
RewriteRule ^(assets/css/less) - [F,L,NC]
RewriteRule ^(assets/images/source) - [F,L,NC]
RewriteRule ^(assets/js/global.js) - [F,L,NC]
RewriteRule ^(assets/json/data.json) - [F,L,NC]

#Everything Redirects to index.html unless it exists
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /index.html [L,R=302]

#Outbound compression
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

#Turn off ETags
Header unset ETag

#Cache: Default everything to 1 Year
#We're using ?v= tags for cache busting
Header set Cache-Control "max-age=31536000"

#Cache: Set an ETag for the index.html that matches version
<Files "index.html">
    Header set Cache-Control "max-age=2628000, public"
</Files>